
 <main role="main">
<br/>
<br/>
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron" style="background-color:  #f2ffe6;">
        <div class="container">


         <div class="row">
      <div class="col-sm-4"">
        

          <h4 class="display-4">Welcome <%= current_user.first_name%>!</h4>
          <p>Enter your work activity for today</p>


          <p><%= link_to new_activity_path, class: 'btn btn-primary btn-lg' do %>New Activity<% end %></p>
      </div>

      <div class="col-sm-5" 
      ">
       
             <br/>
  <h4 class="alert-heading">Ecclesiastes 9:10</h4>
  <p>Whatever your hand finds to do, do it with your might; for there is no work or device or knowledge or wisdom in the grave where you are going.</p>
  

      </div>


      <div class="col-sm-3"">
     <%= image_tag("icgclogopng.png", class: "img-fluid") %>

     </div>  


        </div>
      </div>
</div>


      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h3>Good work ethic</h3>
            <p>Hard work is good work</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h3>Let's know</h3>
            <p>If you're working hard, we need to know....we'll reward you</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h3>Be a leader</h3>
            <p>Anyone who works hard will make a great leader </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

</div>
