  <div class="container">

 <main role="main">
<br/>
<br/>
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h4 class="display-5">Welcome <%= current_user.email%>!</h4>
          <p>Enter your work activity for today</p>


          <p><%= link_to new_activity_path, class: 'btn btn-primary btn-lg' do %>Enter Activity<% end %></p>
        </div>
      </div>

      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <h3>Good work ethic</h3>
            <p>Hard work is good work</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h3>Let's know</h3>
            <p>If you're working hard, we need to know....we'll reward you</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="col-md-4">
            <h3>Be a leader</h3>
            <p>Anyone who works hard will make a great leader </p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
        </div>

        <hr>

      </div> <!-- /container -->

    </main>

</div>
